{% extends 'layout.html' %}
{% block body %}
    <main class="login-form mt-5">
        <div class="container mt-5 ">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Generar Reserva</div>
                        <div class="card-body">
                            <form action="/asientos" method="POST">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="hidden" name="id_usuario" value="{{ session['user'].id_usuario }}">

                                        <input type="hidden" name="id_destino" value="{{ data[0].id_destino }}">

                                        <label for="">Origen - Destino</label>
                                        <input class="form-control" type="text" id="Origen_viaje"
                                               value="{{ data[0].titulo }}" disabled>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="">Fecha de Viaje</label>
                                        <input class="form-control" type="input" value="{{ data[0].fecha_viaje }}"
                                               disabled>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="">Precio</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="id_bus"
                                                   id="flexRadioDefault1" value="{{ data[0].id_bus }},{{ data[0].precio }}">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Normal - {{ data[1].precio }}
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="id_bus"
                                                   id="flexRadioDefault2" value="{{ data[1].id_bus }},{{ data[0].precio }}" checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                VIP - {{ data[1].precio+30 }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label for="" style="color: transparent;">Seleccionar Asiento</label>
                                        <button  type="submit" id="btn_SeleccionarAsientos"
                                           class="btn btn-info text-white" >
                                            <i class="fas fa-chair"></i> Seleccionar Asientos</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
{% endblock %}