{% extends 'layout.html' %}
{% block body %}
<main class="login-form mt-5">
    <div class="container mt-5 ">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Lista de Reservas</div>
                    <div class="card-body">
                        <table id="tabla_ListaReservas" class="table table-bordered">
                            <thead style="background-color: #dfe2e8;">
                                <tr>
                                    <th>Nombre Destino</th>
                                    <th>Precio</th>
                                    <th>Fecha</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbody_ListaReservas">

                            </tbody>
                        </table>
                        <br>
                        <button id="btn_PagarTodo" class="btn btn-success btn-sm text-decoration-none" type="button" value="btn_PagarTodo"><i
                                class="fas fa-money-bill-wave"></i><a href="/cronograma" class="text-white">Pagar Todo</a></button>
                        <button id="btn_AgregarViajes" class="btn btn-info btn-sm" type="button" value="btn_AgregarViajes"><i
                                class="far fa-plus-square"></i> <a href="/destinos" class="text-white">Agregar Viajes</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}