{% extends 'layout.html' %}

{% block body %}
    <main class="login-form mt-5">
        <div class="container mt-5 ">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                        <strong>{{message}}!</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor%}
                    {% endif %}
                    {% endwith %}
                    <div class="card">
                        <div class="card-header">Mi cronograma de viaje</div>
                        <div class="card-body">
                            {% from "/usuario/_formhelpers.html" import render_field %}
                            <form action="/register" method="POST">
                                <div class="form-row">
                                    <table class="table table-striped text-center">
                                        <thead>
                                        <tr class="table-warning">
                                            <th scope="col">ID</th>
                                            <th scope="col">Fecha de viaje</th>
                                            <th scope="col">Destino</th>

                                            {% if session["user"].rol == 1 %}
                                            <th scope="col">Asientos</th>
                                            {% endif %}
                                            <th scope="col">Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <div class="row justify-content-center">
                                        
                                        {% for crono in cronos %}

                                        <tr>
                                            <th scope="row">{{ crono.id_bus }}</th>
                                            <td>{{ crono.fecha_viaje }}</td>
                                            <td>{{ crono.titulo }}</td>
                                            
                                            {% if session["user"].rol == 1 %}
                                            <td>{{ crono.asientos }}</td>
                                            {% endif %}
                                            <td>
                                                {% if crono.rol == 1 %}
                                                    <a class="btn btn-primary" href="/realizarResenia/{{ crono.id_venta }}">Reseña</a>
                                                {% endif %}
                                                {% if crono.rol == 2 %}
                                                    <a class="btn btn-primary" href="/asistencia/{{ crono.id_bus }}">Tomar asistencia</a>
                                                {% endif %}
                                            </td>
                                        </tr>

                                        {% endfor %}

                                        </div>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

    </main>
{% endblock %}