{% extends 'layout.html' %}

{% block body %}

<main class="login-form mt-5">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-header">
                        ESTADISTICAS
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <select class="form-control" name="anioEstadistica" id="anioEstadistica">
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                </select>

                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-success mb-2"
                                    onclick="verEstadisticaAnio($('#anioEstadistica').val())"><i
                                        class="fas fa-search"></i>Buscar</button>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Ventas Anuales por Mes
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div>
                                        <canvas id="myChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-9">
                                <select class="form-control" name="anioEstadistica2" id="anioEstadistica2">
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                </select>

                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-success mb-2"
                                    onclick="verEstadisticaDestinos($('#anioEstadistica2').val())"><i
                                        class="fas fa-search"></i>Buscar</button>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Ventas Anuales por Destino
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div>
                                        <canvas id="myChart2"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
{% endblock %}