{% extends 'layout.html' %}
{% block body %}
<script>
    llenarTablaAdmin();
</script>
<main class="login-form mt-5">
    <div class="container mt-5 ">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-header">Administrar Cuentas</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="staticEmail2" class="sr-only">Nombre</label>
                                <input type="text" class="form-control" id="NombreUsuario" placeholder="Nombre"
                                    value="">
                            </div>
                            <div class="col-sm-4">
                                <label for="inputPassword2" class="sr-only">DNI</label>
                                <input type="text" class="form-control" id="DniUusario" placeholder="DNI">
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-primary mb-2" onclick="BuscarUsuario()"><i
                                        class="fas fa-search"></i>Buscar</button>
                                <button class="btn btn-success mb-2" onclick="llenarTablaAdmin()"><i
                                        class="fas fa-search"></i>Últimos</button>
                            </div>
                        </div>

                        <table id="tabla_ListaReservas" class="table table-fixed">
                            <thead style="background-color: #dfe2e8;">
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Apellido Paterno</th>
                                    <th>Apellido Materno</th>
                                    <th>DNI</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_ListaCuentas">

                                <!-- <td>
                                                <a class="btn-outline-warning" href="/modificable"><i class="far fa-edit"></i></a>
                                                <button class="btn-outline-danger"><i class="far fa-trash-alt"></i>
                                                </button>
                                            </td> -->

                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

<div class="modal fade" id="ModalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Control de Usuarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="IdUsuEdit" style="display: none;">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control" id="ModalNombre">
                    </div>
                    <div class="col-sm-4">
                        <label for="">Apellido Paterno</label>
                        <input type="text" class="form-control" id="ModalPaterno">
                    </div>
                    <div class="col-sm-4">
                        <label for="">Apellido Materno</label>
                        <input type="text" class="form-control" id="ModalMaterno">
                    </div>
                    <div class="col-sm-4">
                        <label for="">DNI</label>
                        <input type="text" class="form-control" id="ModalDNI">
                    </div>
                    <div class="col-sm-4">
                        <label for="">Fecha Nacimiento</label>
                        <input type="date" class="form-control" id="ModalFechaNacimiento">
                    </div>
                    <div class="col-sm-4">
                        <label for="">Telefono</label>
                        <input type="text" class="form-control" id="ModalTelefono">
                    </div>
                    <div class="col-sm-8">
                        <label for="">Dirección</label>
                        <input type="text" class="form-control" id="ModalDireccion">
                    </div>
                    <div class="col-sm-4">
                        <label for="">Departamento</label>
                        <select id="ModalDepartamento" class="form-control"></select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <strong><label for="">INGRESE EL MONTO DESPOSITADO</label></strong>
                    </div>
                    <div class="col-sm-4">
                        <label for="">Saldo Actual</label>
                        <input type="text" class="form-control" id="ModalSaldo" disabled>
                    </div>
                    <div class="col-sm-4">
                        <label for="">Depósito</label>
                        <input type="text" class="form-control" id="ModalDeposito">
                    </div>
                    <div class="col-sm-4">
                        <label for="">Nuevo Saldo</label>
                        <input type="text" class="form-control" id="ModalNuevoSaldo" disabled>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="EditarUsuario()">Editar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}