{% extends 'layout.html' %}

{% block body %}
    <main class="login-form mt-5">
        <div class="container mt-5 ">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                    <strong>{{ message }}!</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="card">
                        <div class="card-header">Registrar</div>
                        <div class="card-body">
                            {% from "/usuario/_formhelpers.html" import render_field %}
                            <form action="/actualizarUsuario" method="POST">
                                <div class="form-row">
                                    <div class="form-group col-md">
                                        {{ render_field(form.nombre, class="form-control") }}
                                    </div>
                                    <div class="form-group col-md">
                                        {{ render_field(form.apellidoP, class="form-control") }}
                                    </div>
                                    <div class="form-group col-md">
                                        {{ render_field(form.apellidoM, class="form-control") }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md">
                                        {{ render_field(form.telefono, class="form-control") }}
                                    </div>
                                    <div class="form-group col-md">
                                        {{ render_field(form.fechaNacimiento,class="form-control") }}
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{ render_field(form.direccion, class="form-control") }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ render_field(form.departamento, class="form-control") }}
                                        {#                                    <label for="inputState">Departamento</label>#}
                                        {#                                    <select id="inputState" class="form-control" name="departamento">#}
                                        {#                                        <option value="undenifed">Seleccione Departamento...</option>#}
                                        {#                                        {% for depa in depas %}#}
                                        {#                                        <option value={{depa.id_departamento}}>{{ depa.nombre }}</option>#}
                                        {#                                        {% endfor%}#}
                                        {#                                    </select>#}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md">
                                        {{ render_field(form.correo, class="form-control") }}
                                    </div>
                                    <div class="form-group col-md">
                                        {{ render_field(form.DNI, class="form-control") }}
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </main>
{% endblock %}