{% extends 'layout.html' %}
{% block body %}
    <main class="login-form mt-5">
        <div class="container mt-5 ">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card shadow">
                        <div class="card-header">Realizar Deposito</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="../static/images/logo_yape.png" height="50%" alt="logo-yape">
                                </div>
                                <div class="col-sm-7">
                                    <p>Monto Mínimo: 100 PEN</p>
                                    <p>Mono Máximo: 500 PEN</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <img src="../static/images/yapee.jpg"  height="330px" alt="yape">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
{% endblock %}