{% extends 'layout.html' %}
{% block body %}

    <main class="login-form mt-5">
        <div class="container mt-5 ">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header text-center"><h4>Selección de asientos</h4></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm">
                                    <p class="text-center">Ver Precio:</p>
                                    <p class="text-center">S/. 0.00</p>

                                </div>
                            </div>

                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <label for="">Fila 1</label>
                                    <br>
                                    <button id="" name="" class="btn btn-success" type="button">A01</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <label for="">Fila 2</label>
                                    <br>
                                    <button id="" name="" class="btn btn-success" type="button">A02</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <label for="">Fila 3</label>
                                    <br>
                                    <button id="" name="" class="btn btn-danger" type="button" disabled>A03</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check" disabled/>
                                </div>
                                <div class="col-sm-3">
                                    <label for="">Fila 4</label>
                                    <br>
                                    <button id="" name="" class="btn btn-success" type="button">A04</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                            </div>
                            <br>
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A05</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A06</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A07</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A08</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                            </div>
                            <br>
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-danger" type="button" disabled>A09</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check" disabled/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-danger" type="button" disabled>A10</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check" disabled/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A11</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A12</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                            </div>
                            <br>
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A13</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A14</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A15</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-danger" type="button" disabled>A16</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check" disabled/>
                                </div>
                            </div>
                            <br>
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A17</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A18</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-danger" type="button" disabled>A19</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check" disabled/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A20</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                            </div>
                            <br>
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A21</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A22</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A23</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A24</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                            </div>
                            <br>
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A25</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A26</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-danger" type="button" disabled>A27</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check" disabled/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A28</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                            </div>
                            <br>
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-danger" type="button" disabled>A29</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check" disabled/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A30</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-danger" type="button" disabled>A31</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check" disabled/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-success" type="button">A32</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                            </div>

                            <hr>
                            <div class="row text-center">
                                <div class="col-sm-6">
                                    <a id="" name="" class="btn btn-info" type="button" href="/listaReservas">Aceptar</a>
                                </div>
                                <div class="col-sm-6">
                                    <a id="" name="" class="btn btn-danger" type="button" href="/generarReserva">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}