{% extends 'layout.html' %}
{% block body %}

    <main class="login-form mt-5">
        <div class="container mt-5 ">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header text-center"><h4>Selección de asientos</h4></div>
                        <div class="card-body">
                            <form action="/listaReservas" method="post">
                                <div class="row">
                                    <div class="col-sm">
                                        <p class="text-center">Ver Precio:</p>
                                        <p class="text-center">S/. 0.00</p>

                                    </div>
                                </div>

                                <div class="row text-center">
                                    <div class="col-sm-3">
                                        <label for="">Fila 1</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="">Fila 2</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="">Fila 3</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="">Fila 4</label>
                                    </div>
                                </div>
                                <br>

                                <div class="row text-center">
                                    {% for asiento in data %}
                                        <div class="col-sm-3">
                                        <span id="" name="" class="btn btn-success"
                                              type="button">{{ asiento.numero_asiento }}</span>
                                            <br>
                                            <input type="checkbox" value="{{ asiento.id_asiento }}" id=""
                                                   name="check"/>
                                        </div>
                                    {% endfor %}
                                </div>
                                <br>
                                <div class="text-center">
                                    <button type="submit" id=""
                                            class="btn btn-info text-white">
                                        <i class="fas fa-chair"></i> Confirmar Asientos
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}