{% extends 'layout.html' %}
{% block body %}
    <main class="login-form mt-5">
        <div class="container mt-5 ">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header text-center"><h5>Asistencia de Pasajeros</h5></div>
                        <div class="card-body">
                            <form action="/confirmarAsistencia" method="POST">
                                <div class="form-row">
                                    <table class="table table-striped text-center">
                                        <thead>
                                        <tr class="table-warning">
                                            <th scope="col">Id Venta</th>
                                            <th scope="col">Asientos</th>
                                            <th scope="col">Asistencia</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <div class="row justify-content-center">
                                            {% for asis in data %}
                                                <tr>
                                                    <th scope="row">{{ asis.id_venta }}</th>
                                                    <td>{{ asis.asientos }}</td>
                                                    <td><input type="checkbox" value="{{ asis.id_venta }}"
                                                               id="asistencia"
                                                               name="id_venta"/></td>
                                                </tr>
                                            {% endfor %}
                                        </div>
                                        </tbody>
                                    </table>
                                    <br>
                                    <div class="text-center">
                                        <button type="submit" id="asistencia_confirm"
                                                class="btn btn-info text-white">
                                            <i class="fas fa-check-square"></i> Confirmar Asistencia
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}