{% extends 'layout.html' %}
{% block body %}
    <main class="login-form mt-5">
        <div class="container mt-5 ">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header text-center"><h5>Asistencia Pasajeros</h5></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm">
                                    <p class="text-center">Cantidad Asistentes:</p>
                                    <p class="text-center">0</p>

                                </div>
                            </div>

                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <label for="">Fila 1</label>
                                    <br>
                                    <button id="" name="" class="btn btn-secondary" type="button">P01</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <label for="">Fila 2</label>
                                    <br>
                                    <button id="" name="" class="btn btn-secondary" type="button">P02</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <label for="">Fila 3</label>
                                    <br>
                                    <button id="" name="" class="btn btn-info" type="button" disabled>P03</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check" disabled/>
                                </div>
                                <div class="col-sm-3">
                                    <label for="">Fila 4</label>
                                    <br>
                                    <button id="" name="" class="btn btn-secondary" type="button">P04</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                            </div>
                            <br>
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P05</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P06</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P07</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P08</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                            </div>
                            <br>
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-info" type="button" disabled>P09</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check" disabled/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-info" type="button" disabled>P10</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check" disabled/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P11</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P12</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                            </div>
                            <br>
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P13</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P14</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P15</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-info" type="button" disabled>P16</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check" disabled/>
                                </div>
                            </div>
                            <br>
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P17</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P18</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-info" type="button" disabled>P19</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check" disabled/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P20</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                            </div>
                            <br>
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P21</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P22</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P23</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P24</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                            </div>
                            <br>
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P25</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P26</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-info" type="button" disabled>P27</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check" disabled/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P28</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                            </div>
                            <br>
                            <div class="row text-center">
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-info" type="button" disabled>P29</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check" disabled/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P30</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-info" type="button" disabled>P31</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check" disabled/>
                                </div>
                                <div class="col-sm-3">
                                    <button id="" name="" class="btn btn-secondary" type="button">P32</button>
                                    <br>
                                    <input type="checkbox" value="None" id="asiento1" name="check"/>
                                </div>
                            </div>

                            <hr>
                            <div class="row text-center">
                                <div class="col-sm-6">
                                    <a id="" name="" class="btn btn-success" type="button" href="/cronograma">Guardar</a>
                                </div>
                                <div class="col-sm-6">
                                    <a id="" name="" class="btn btn-danger" type="button" href="/cronograma">Cancelar</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}