{% extends 'layout.html' %}
{% block body %}
    <main class="login-form mt-5">
        <div class="container-fluid mt-5 ">
            <div class="row justify-content-center">
                <div class="col-md">
                    <div class="card shadow">
                        <div class="card-header">Lima - Arequipa</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div>
                                        <img class="img-fluid" alt="100%x280"
                                             src="https://images.unsplash.com/photo-1590545651636-f0e7f151239f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-sm">
                                            <h5>Arequipa</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm">
                                            <h5>Caracteristicas de Viaje</h5>
                                            <div class="row">
                                                <div class="col-sm text-center">
                                                    <span>Horario:</span><br>
                                                    <span>10:00 am - 11:00 pm</span>
                                                </div>
                                                <div class="col-sm text-center">
                                                    <span>Duracion:</span><br>
                                                    <span>13h 30min</span>
                                                </div>
                                                <div class="col-sm text-center">
                                                    <span>Precio normal:</span><br>
                                                    <span class="bg-success p-1 text-white">S/. 80</span>
                                                </div>
                                                <div class="col-sm text-center">
                                                    <span>Precio VIP:</span><br>
                                                    <span class="bg-success p-1 text-white">S/. 100</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="text-right mt-5">
                                            <div>
                                                <a href="/generarReserva" class="btn btn-info btn-sm"><i
                                                        class="fas fa-ticket-alt"></i>Comprar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="container">
        <h3>Reseñas</h3>
        <div class="card-columns">
            <div class="card p-3">
                <blockquote class="blockquote mb-0 card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card p-3">
                <blockquote class="blockquote mb-0 card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card p-3">
                <blockquote class="blockquote mb-0 card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card p-3">
                <blockquote class="blockquote mb-0 card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                </blockquote>
            </div><div class="card p-3">
                <blockquote class="blockquote mb-0 card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                </blockquote>
            </div><div class="card p-3">
                <blockquote class="blockquote mb-0 card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>


        </div>
    </section>
{% endblock %}