{% extends 'layout.html' %}

{% block body %}
<div style="padding: 50px;">

</div>
<div class="container pt-3">
    <div class="row">
        {% for destino in data %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <img class="img-fluid" alt="100%x280" src="../static/images/{{ destino.imagen }}">
                <div class="card-body">
                    <h4 class="card-title"><a href="/detalle/{{ destino.id_destino }}"
                            class="stretched-link text-decoration-none text-dark">{{ destino.titulo }}</a></h4>
                    <p class="card-text">{{ destino.descripcion }}</p>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}